.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square {
  background: #fff;
  border: 1px solid #444;
  font-size: 20vw;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  /* for 1x1 ratio */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.square:focus {
  outline: none;
}

/* for 1x1 ratio of Square */
.square-box {
  position: relative;
  width: 33.3%;
  display: inline-block;
}

.square-box:before {
  content: "";
  display: inline-block;
  padding-top: 100%;
}

.board-row {
  padding: 0;
  width: 100%;
}

.board {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.board-box {
  display: inline-block;
  width: 90%;
  max-width: 450px;
}

.board-outer-box {
  text-align: center;
}
